# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.out

# Docker
*.pid
*.seed
*.pid.lock

# Kubernetes local files
*.yaml~
*.yml~

# Other
node_modules/
